/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
    }
body {
	line-height: 1;
	overflow: hidden;
    }
ol, ul {
	list-style: none;
    }
blockquote, q {
	quotes: none;
    }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
    }
table {
	border-collapse: collapse;
	border-spacing: 0;
    }

/* Typography */

body,
input,
textarea {
    font: 14px/20px 'OpenSans', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    }

pre,
code { font:normal 12px/20px monospace; }

h1, h2, h3, h4, h5, h6 { 
    margin: 0;
    }
    
h1 {
    font-family: 'OswaldBook', "Arial Narrow", sans-serif;
    line-height: 1em;
    font-size: 2em;
    }

a {
    color:#369;
    text-decoration:none;
    }

/* Layout */

h1 {
    display: block;
    margin: 20px 0;
    }

p {
    margin-bottom: 20px;
    }

body > div {
    position: relative;
    z-index: 1;
    }

.map {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    }

#branding {
	position: absolute;
    height: 145px;
    width: 150px;
    left: 0;
    float: left;
    background: url(../img/logo.png) 30px 60px no-repeat;
    }

#content {
	position: absolute;
    height: 200px;
	width: 100%;
	bottom: 0px;
    background: rgb(255,255,255); /* old ie */
    background: rgba(255,255,255,.9);
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #333;
    overflow-y: hidden;
    z-index: 2;
    }
    
#about {
    margin-left: 150px;
    width: 689px;
    float: left;
    padding: 0 20px;
    border-left: 1px solid #bbb;
    }

.layers {
    position: absolute;
    width: 120px;
    left: 10px;
    top: 80px;
    }
    
.layers a {
    padding: 10px;
    margin: 1px 0;
    border-left: 5px solid #fff;
    background: white;
    color: #333;
    }
    
.layers a:hover, .layers a:focus, .layers a.active {
    border-left: 5px solid #333;
    background: #2da0ef;
    color: white;
    }

.layers#crime {top: 220px;}

#crime.layers a:hover, #crime.layers a:focus, #crime.layers a.active {
    border-left: 5px solid #333;
    background: #e34f3f;
    color: white;
    }
    
.layers a {
	font: 1em/1.5em 'OswaldBook',  "Arial Narrow", sans-serif;
    width: 113px;
    float: left;
    margin-right: 20px;
    }

#search {
    height: 30px;
    margin-bottom: 20px;
    }

form.geocode input[type=text] {
    font-size: .85em;
    color: #333;
    height: 18px;
    width: 200px;
    display: block;
    float: left;
    padding: 5px;
    margin: 0;
    border: 1px solid  #ccc;
    }
    
form.geocode input[type=submit] {
    background: #2da0ef url(../img/search.png) no-repeat -0px -0px;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    float: left;
    cursor: pointer;
    }
    
    form.geocode input[type=submit]:hover { background-color:#333; }
	form.geocode input[type=submit]:active { background-color:#000; }
	
form.geocode.loading input[type=submit] {
    background: url(img/ajax-loader.gif) no-repeat 50% 50%;
    border-color:#bbb;
    background-color:#ddd;
    box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
    -moz-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
    -webkit-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
    }
    
#geocode-error {
    display: none;
    float: left;
    position: relative;
    top: 1em;
    margin-left: 20px;
    color: #e34f4f;
    font-size: 1em;
    line-height: 0em;
    }
    
a.zoomer {
	position: absolute;
    top: 10px;
    }

/* Map */

.map-tooltip {
    border:none;
    background:none;
    border-radius:none;
    -moz-border-radius:none;
    -webkit-border-radius:none;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    left: auto;
    top: auto;
    right: 10px;
    border: none;
    color: white;
    font-size: 11px;
    width: 200px;
    margin-left: -100px;
    line-height: 16px;
    margin-bottom: 20px;
    overflow: visible;
    }

.map-tooltip .inner {
    padding: 4px 9px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #333;
    z-index: 2;
    text-transform: lowercase;
    }
    
.map-tooltip .inner:first-letter {
    text-transform: uppercase;
    }
    
.map-tooltip .desc2 { font-style: italic; }

.map-tooltip .offense { font-weight: 700; }

.map-tooltip .tip {
    background: rgba(51,51,51,1);
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    top: -5px;
    left: 50%;
    margin-left: -14px;
    z-index: 1;
    }

.map-tooltip.flip-y {
    margin-top: 20px;
    margin-bottom: auto;
    }

.map-tooltip.flip-y .tip {
    position: absolute;
    margin-top: 5px;
    }

.map-legends {
    left: auto;
    right: 10px;
    height: 125px;
    overflow-x: hidden;
    bottom: 215px;
    font-size: 11px;
	font: .9em/1.5em 'OpenSans', sans-serif;
    }
    
.map-legends a {
    color: rgb(51, 51, 51);
    }

.map-legends .map-legend {
    width: 275px;
    }

.map-legends .scale img { 
    float: left; 
    }

.map-legend {
    padding: 10px;
    }

.map-legend .scale {
    width: 100%;
    margin-bottom: 0;
    }
.map-legend > div {
    clear: both;
    } 
.map-legend .scale span {
    display: block;
    width: 30px;
    float: left;
    text-align: center;
    font-size: 9px;
    }

.map-legends .scale label {
    display: block;
    margin-bottom: 5px;
    }

.map-legend .scale > div {
    }

.map-attribution {
    bottom: 205px;
    }

.wax-share h3 {
    margin: 0px 0px 10px;
    font-size: 16px;
    font-weight: normal;
    }

.wax-share strong {
    font-weight: 700;
    }

.wax-share small {
    font-size: 11px;
    color: #999;
    display: block;
    margin-top: 0.5em;
    }

.share {
    top: 45px;
    z-index: 2;
    }
    
.mmg-default {
    width: 20px;
    height: 40px;
    background: url(../img/map.png) -120px -30px;
    left: -10px;
    top: -30px;
    }
    
/* embed */

.embed .map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 1000;
    }

.embed #header, .embed #content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10001;
    visibility: hidden;
    overflow: hidden;
    }

.embed a.zoomer {
    top: 10px;
    }

.embed .map-tooltip {
    top: 10px;
    right: 10px;
    }

.embed .map-legends {
    right: 10px;
    bottom: 10px;
    }

.embed .share {
    top: 45px;
    z-index: 1001;
    }

.embed .layers {
    position: absolute	;
    top: 90px;
    left: 0;
    z-index: 1001;
    visibility: visible;
    }

.embed .layer {
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    }

/* Animation */

.map-tile-loaded {
    -webkit-animation-name:               fade-in;
    -moz-animation-name:                  fade-in;
    -ms-animation-name:                   fade-in;
    -o-animation-name:                    fade-in;
    -webkit-animation-timing-function:    linear;
    -moz-animation-timing-function:       linear;
    -ms-animation-timing-function:        linear;
    -o-animation-timing-function:         linear;
    -webkit-animation-duration:           .2s;
    -moz-animation-duration:              .2s;
    -ms-animation-duration:               .2s;
    -o-animation-duration:                .2s;
}

@-webkit-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@-ms-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@-o-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
